body {
    font-family: 'Graduate', sans-serif;
    text-decoration: solid;
    color: #070505;
}

/* Header styles */
header {
    color: hsl(0, 22%, 63%);
    padding: 20px;
    text-align: center;
    background-image: url(https://img.freepik.com/free-photo/top-view-fresh-vegetables-red-pepper-powder-turmeric-small-bowls-wooden-spoons-table-free-space_140725-147447.jpg?t=st=1710811282~exp=1710814882~hmac=3c92e249a79904d650583a311bef42c18464f79d6efd5efb02cc662bae8bfb77&w=1380);
    background-size: cover;
    height: 200px;
}

header h1 {
    color: #e0e0e0;
}

h1 {
    color: #070505;
    text-align: justify;
    margin-top: 20px;
}

#bodyImage {
    background-image: url('https://wallpaperaccess.com/full/2696016.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 65px;
}

#description {
    display: inline-block;
    color: #070505;
}

#sidebar {
    display: inline;

}


/* Product description styles */
.product-description {
    background-color: #fff;
    padding: 5px;
}

.product-description h2 {
    color: #070505;
}

/* Footer styles */
#customizedFooter {
    background-image: url("https://img.freepik.com/premium-photo/food-cooking-background-stone-texture-with-sea-salt-pepper-garlic-parsley-light-grey-abstract-food-background-empty-space-text-can-be-used-food-posters-design-menu-top-view_253362-16400.jpg?w=2000");
    background-size: cover;
    text-align: center;
    margin: none;
    color: #070505;
    position: relative;

}


.modal,
#newsletterModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.modal-content>p {
    margin-bottom: 20px;
}

#newsletterModal {
    margin-top: 300px;
    height: 20%;
    width: 100%;
}

#subscribe {
    background-color: #266624;
    color: #f0f0f0;
}

@media screen and (max-width: 992px) {
    .column {
        width: 50%;
    }
}

/* On screens that are 600px wide or less, stack columns vertically */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}